language: go

sudo: false

go:
  - 1.1
  - 1.2
  - 1.3
  - 1.4
  - 1.5
  - 1.6
  - tip

before_install:
  - go get github.com/golang/lint/golint

before_script:
  - go vet ./...
  - golint ./... 

script:
  - go test -v ./...