<!DOCTYPE html>
<html lang="en">

<head>
    <script src="/assets/js/jquery.min.js"></script>
    {{template "head" .}}
</head>

<body id="page-top" class="index">

     <!-- Navigation -->
      <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
          <!-- /.container-fluid -->
      </nav>
    <!-- Header -->

    {{template "header" .}}

    <div class="container main">
      <h4>404 - This is not the page that you are looking for</h4>
    </div>

    {{template "footer" .}}
    {{template "script" .}}
</body>

</html>
