<header>
	<div class="container">
		<div class="row">
		<h1><img src="/assets/img/silk1.png" alt="Silk logo"></h1>



		</div>
		<div class="row">
			<div class="float-left" id="path-container">
				<input type="text" id="path" placeholder="Watched directory" original-title="Change watched directory">
			</div>
			<ul class="float-right" id="control-buttons">
						<li class="fa fa-pause" id="play-pause" original-title="Play/pause tests"></li>
						<li class="fa fa-refresh" id="run-tests" original-title="Run tests"></li>
			</ul>
		</div>
	</div>
</header>
