<header>
	<div class="container">
		<div class="row">
		<h1><img src="/assets/img/silk1.png" alt="Silk logo"></h1>



		</div>

		<div id="loadingDiv" class="hide">
			Loading....
		</div>

		<div class="row">
			<div class="float-left" id="path-container">
				<input type="text" name="path "id="path" placeholder="Watched directory" original-title="Change watched directory" value="{{ .SilkFolder }}">
			</div>
			<div class="float-left" id="host-container">
				<input type="text" name="host" id="host" placeholder="http://localhost:8081" original-title="Change url of the API" value="{{ .Host }}">
			</div>
			<ul class="float-right" id="control-buttons">
						<li>
							<button id="play" type="button" class="fa fa-play btn btn-success"></button>
						</li>
			</ul>
		</div>

		<script>
		function runSilk(){
			$.ajax({
				type: "POST",
				url: '/run/',
				data: {
					 host: $('#host').val(),
				},
				success: function(data) {
						 $('#nav-status').html(data);
				}
			});
		}

		$('#play').click(function (e){
			runSilk();
		});

		$('#host').keydown(function (e){
			if(e.keyCode == 13){
				runSilk();
				alert('you pressed enter ^_^');
			}
		});
		$('#path').keydown(function (e){
			if(e.keyCode == 13){
				alert('you pressed enter ^_^');
			}
		});
		</script>

	</div>
</header>
